[Unit]
Description=RFID Webservice
After=network.target
[Service]
Type = forking
ExecStart=/usr/bin/RFIDWebserver.sh

[Install]
WantedBy=multi-user.target

